singularity {
    enabled = true
    autoMounts = true
}


//THE DIRECTORY WHERE THE WORKFLOW IS RUN

launchDir = "/xdisk/shaneburgess/amcooksey/lnc_nf_proj"


//THE DIRECTORY WHERE THE MAIN SCRIPT IS LOCATED.
projectDir = "/xdisk/shaneburgess/amcooksey/lnc_nf_proj"


//WHERE NEXTFLOW IS INSTALLED

NXF_HOME = "/xdisk/shaneburgess/amcooksey"




//SET UP CPU, MEMORY REQUIREMENTS, CLUSTER OPTIONS

process {
    withLabel: highmem {
	executor = 'slurm'
	cpus = 94
	mem = 450 GB
	queue = 'standard'
	time = 72h
	clusterOptions = '--account=fionamcc'
    }
    withLabel: medmem {
        executor = 'slurm'
        cpus = 36
        mem = 225 GB
        queue =	'standard'
	time = 24h
	clusterOptions = '--account=fionamcc'
    }
    withLabel: lowmem {
        executor = 'slurm'
        cpus = 6
        mem = 20 GB
        queue =	'standard'
	time = 24h
	clusterOptions = '--account=fionamcc'
    }
}

//SPECIFY CONTAINERS FOR EACH PROCESS

process {
    withName: STARindex {
        container = "/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/star_2.7.3a--0.sif"
	label = "medmem"
	clusterOptions = "--job-name=STAR"
    }
    withName:STAR {
        container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/star_2.7.3a--0.sif'
	label = 'medmem'
	clusterOptions = '--job-name=STAR'
    }
    withName:Trinity-genome-guided-assembly {
        container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/trinity_rsem_quantexp.sif'
	label = 'highmem'
	clusterOptions = '--job-name=Trinity'
    }
    withName:GMAP {
	container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/gmap_2019-03-15.sif'
	label = 'medmem'
	clusterOptions = '--job-name=GMAP'
    }
    withName:GFF2GTF {
	container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/gffread_0.11.7--h8b12597_0.sif'
	label = 'lowmem'
	clusterOptions = '--job-name=GFF2GTF'
    }
    withName:FEELncfilter {
	container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/feelnc_0.1.1--pl526_5.sif'
	label = 'medmem'
	clusterOptions = '--job-name=feelfilt'
    }
    withName:FEELnccodpot {
	container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/feelnc_0.1.1--pl526_5.sif'
	label = 'highmem'
	clusterOptions = '--job-name=codpot'
    }
    withName:FEELlncclassifier {
	container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/feelnc_0.1.1--pl526_5.sif'
	label = 'medmem'
	clusterOptions = '--job-name=FEELclass'
    }
    withName:filtertargets {
	container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/lnc_scripts_1.0.sif'
	label = 'medmem'
	clusterOptions = '--job-name=filttargs'
    }
    withName:pullGO {
	container = '/xdisk/shaneburgess/amcooksey/usda_ncrna_annotation/tools/lnc_scripts_1.0.sif'
	label = 'medmem'
	clusterOptions = '--job-name=pullGO'
    }
/*
}
 
singularity {
    enabled = true
    autoMounts = true
}
 
