
params {
config_profile_description = "UArizona_HPC_PUMA"
}
 
singularity {
enabled = true
autoMounts = true
}

process {
    withName: STARIndex {
        container = "file:///xdisk/shaneburgess/amcooksey/lnc_nf_proj/project/tools/star_2.7.3a--0.sif"
	executor = "slurm"
	cpus = "30"
	queue = "standard"
	time = "72h"
        clusterOptions = "--account=fionamcc --job-name=STARindex"
    }
    withName: STAR {
        container = 'file:///xdisk/shaneburgess/amcooksey/lnc_nf_proj/project/tools/star_2.7.3a--0.sif'
	executor = "slurm"
	cpus = "30"
	queue = "standard"
	time = "72h"        
        clusterOptions = "--account=fionamcc --job-name=STAR"
    }
}
